@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;1,700&display=swap');

li {
  list-style: none;
}

p {
  margin-bottom: 0;
}

button {
  border: none;
  background-color: transparent;
}

.site-name {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: italic;
}

.navbar-orange {
  background-color: orange;
}

.flag {
  height: 38px;
  width: auto;
}

.short-name {
  font-weight: bold;
}

.input-home {
  border: 1px solid lightgray;
  border-radius: 5px;
}

.input-home:focus {
  outline: 2px solid orange;
  border-radius: 5px;
}

.no-spin::-webkit-inner-spin-button,
.no-spin::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance:textfield;
}

.dnd {
  border: 0;
}

.dragging {
  opacity: 0.5;
}

.drop-zone {
  border: 2px dashed orange;
}

.slide-in {
  animation: slidein 500ms ease-out 1;
}

.pointer-event * {
  pointer-events: none;
}

@keyframes slidein {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.checkbox {
  height: 15px;
  width: 15px;
  margin: auto;
}